<dl>
  <dt>Resource Start Date:</dt>
  <dd><%= @meeting.resource.starts_on %></dd>
  <dt>Resource End Date:</dt>
  <dd><%= @meeting.resource.ends_on %></dd>
<dl>

<%= form_with(model: meeting, url: [meeting.resource, meeting], local: true) do |form| %>
  <% if meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul>
      <% meeting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :start_time %>
    <%= form.datetime_field :start_time, class: "form-control" %>
  
    <%= form.label :end_time %>
    <%= form.datetime_field :end_time, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :content, "Content (markdown)" %>
    <%= form.text_area :content, class: "form-control", rows: "10" %>
  </div>

  <%= form.hidden_field :resource_id %>

  <div class="actions">
    <%= form.button class: "btn btn-outline-primary btn-block" %>
  </div>
<% end %>
