<% attendance = meeting.attendances.for(current_submission) %>

<div id="<%= dom_id(meeting) %>" class="card mb-3">
  <div class="card-header cursor-pointer"
       data-toggle="collapse"
       data-target="#<%= dom_id(meeting) %>_body">
    <h1 class="h3 d-flex justify-content-between">
      <span>
        <%= meeting.start_time.strftime("%B %e")%>
      </span>

      <span>
        <%= meeting.start_time.strftime("%l:%M %P") %>
      </span>
    </h1>
  </div>
  <% body_classes = "collapse" %>
  <% body_classes += " show" if meeting.gradeable? || !(attendance.pending?) %>
  <div id="<%= dom_id(meeting) %>_body" class="<%= body_classes %>">
    <div class="card-body">
      <div class="row d-flex align-items-center">
        <div class="col-2 p-0">
          <div class="icon-container d-flex justify-content-center">
            <div class="icon-content d-flex">
              <span class="align-self-center">
                <% if attendance.accepted? %>
                <i class="far fa-check text-success responsive-icon-size"></i>
                <% elsif attendance.not_accepted? %>
                <i class="far fa-times text-danger responsive-icon-size"></i>
                <% elsif attendance.in_appeal? %>
                <i class="fal fa-balance-scale text-warning scales-icon"></i>
                <% end %>
              </span>
            </div>
          </div>
        </div>
        <div class="col-10 col-md-5">
          <div class="row">
            <div class="col-12 d-flex justify-content-start">
              <% if !attendance.pending? %>
              <h2 class="h4 text-<%= contextual_class(attendance.status) %>">
                <%= t(attendance.status) %>
              </h2>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <% if attendance.checked_in_at %>
              <span>
                <%= attendance.checked_in_at.strftime("%a %-m/%-e, %l:%M %P") %>
              </span>
              <% end %>

            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="row">
            <div class="two-buttons-container">
              <% Attendance.student_events.each do |event| %>
              <%= attendance_event_button(attendance, event) %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <% unless controller_name == "meetings" && action_name == "show"%>
        <div class="row d-flex justify-content-center">
          <span>
            <%= link_to resource_meeting_path(meeting.resource, meeting),
                        class: "text-primary text-decoration-none" do %>
              <i class="fas fa-search-plus"></i> Show class content
            <% end %>
          </span>
        </div>
      <% end%>
    </div>
    <div class="card-footer pt-1">
      <%= render partial: "comments/comments",
                 locals: { commentable: attendance } %>
    </div>
  </div>
</div>
