<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @meeting.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @meeting.end_time %>
</p>

<p>
  <strong>Resource:</strong>
  <%= @meeting.resource_id %>
</p>

<%= link_to 'Edit', edit_resource_meeting_path(@meeting) %> |
<%= link_to 'Back', resource_meetings_path(@meeting.resource) %>
