<h1>
  Context #<%= @context.id %> details
</h1>

<a href="/contexts/<%= @context.id %>/edit">
  Edit context
</a>

<hr>

<dl>
  <dt>
    Title
  </dt>
  <dd>
    <%= @context.title %>
  </dd>

  <dt>
    Lti context
  </dt>
  <dd>
    <%= @context.lti_context_id %>
  </dd>

  <dt>
    Credential
  </dt>
  <dd>
    <%= @context.credential_id %>
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= time_ago_in_words(@context.created_at) %> ago
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= time_ago_in_words(@context.updated_at) %> ago
  </dd>
</dl>

<a href="/delete_context/<%= @context.id %>">
  Delete context
</a>

<hr>

<a href="/contexts">
  Go back
</a>
