<!-- Validation failure messages -->
<% if @user.present? %>
  <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new user
</h1>

<hr>

<form action="/create_user" method="post">
  <!-- Label and input for first_name -->
  <div class="form-group">
    <label for="first_name">
      First name
    </label>

    <input type="text" id="first_name" name="first_name" class="form-control" value="<%= @user.try(:first_name) %>">
  </div>

  <!-- Label and input for last_name -->
  <div class="form-group">
    <label for="last_name">
      Last name
    </label>

    <input type="text" id="last_name" name="last_name" class="form-control" value="<%= @user.try(:last_name) %>">
  </div>

  <!-- Label and input for preferred_name -->
  <div class="form-group">
    <label for="preferred_name">
      Preferred name
    </label>

    <input type="text" id="preferred_name" name="preferred_name" class="form-control" value="<%= @user.try(:preferred_name) %>">
  </div>

  <!-- Label and input for lti_user_id -->
  <div class="form-group">
    <label for="lti_user_id">
      Lti user
    </label>

    <input type="text" id="lti_user_id" name="lti_user_id" class="form-control" value="<%= @user.try(:lti_user_id) %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create user
  </button>
</form>

<hr>

<a href="/users">
  Go back
</a>
