<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <div class="card">
      <h2 class="card-header h4">
        User profile
      </h2>
      <div class="card-body">
        <a href="/users/<%= @user.id %>/edit">
          Edit user
        </a>

        <hr>

        <dl>
          <dt>
            First name
          </dt>
          <dd>
            <%= @user.first_name %>
          </dd>

          <dt>
            Last name
          </dt>
          <dd>
            <%= @user.last_name %>
          </dd>

          <dt>
            Preferred name
          </dt>
          <dd>
            <%= @user.preferred_name %>
          </dd>

        </dl>

        <a href="/delete_user/<%= @user.id %>">
          Delete user
        </a>

        <hr>

        <a href="/users">
          Go back
        </a>
      </div>
    </div>
  </div>
</div>
