<h1>
  All launches
</h1>

<a href="/launches/new">
  Add a new launch
</a>

<hr>

<table class="table">
  <tr>
    <th>
      ID
    </th>

    <th>
      Payload
    </th>

    <th>
      Enrollment
    </th>

    <th>
      Credential
    </th>

    <th>
      Created at
    </th>

    <th>
      Updated at
    </th>

    <th>
    </th>
  </tr>

  <% @launches.each do |launch| %>
  <tr>
    <td>
      <%= launch.id %>
    </td>

    <td>
      <%= launch.payload %>
    </td>

    <td>
      <%= launch.enrollment_id %>
    </td>

    <td>
      <%= launch.credential_id %>
    </td>

    <td>
      <%= time_ago_in_words(launch.created_at) %> ago
    </td>

    <td>
      <%= time_ago_in_words(launch.updated_at) %> ago
    </td>

    <td>
      <a href="/launches/<%= launch.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
