<!-- Validation failure messages -->
<% if @enrollment.errors.any? %>
  <% @enrollment.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit enrollment #<%= @enrollment.id %>
</h1>

<hr>

<form action="/update_enrollment/<%= @enrollment.id %>" method="post">
  <!-- Label and input for roles -->
  <div class="form-group">
    <label for="roles">
      Roles
    </label>

    <input type="text" id="roles" name="roles" class="form-control" value="<%= @enrollment.roles %>">
  </div>

  <!-- Label and input for user_id -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <input type="text" id="user_id" name="user_id" class="form-control" value="<%= @enrollment.user_id %>">
  </div>

  <!-- Label and input for context_id -->
  <div class="form-group">
    <label for="context_id">
      Context
    </label>

    <input type="text" id="context_id" name="context_id" class="form-control" value="<%= @enrollment.context_id %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update enrollment
  </button>
</form>

<hr>

<a href="/enrollments">
  Go back
</a>
