<% was_validated = check_in.errors.any? %>

<% form_html_options = { novalidate: true, class: "mb-3" } %>

<%= form_for(check_in, html: form_html_options) do |f| %>
  <div class="form-group">
    <% enrollment_id_class = "form-control" %>
    <% enrollment_id_was_invalid = check_in.errors.include?(:enrollment_id) %>

    <% if was_validated %>
      <% if enrollment_id_was_invalid %>
        <% enrollment_id_class << " is-invalid" %>
      <% else %>
        <% enrollment_id_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.hidden_field :latitude, value: nil %>
    <%= f.hidden_field :longitude, value: nil %>
    <%= f.hidden_field :submission_id%>
    <%= f.hidden_field :meeting_id%>
    <% if enrollment_id_was_invalid %>
      <% check_in.errors.full_messages_for(:enrollment_id).each do |message| %>
        <div class="invalid-feedback">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= f.button "Check In for #{@target_meeting.start_time.strftime("%A, %b %d")}!", class: "btn btn-outline-success btn-block", id: "check-in-button" %>
<% end %>
