<div class="panel panel-default mb-2">
  <div class="list-group-item list-group-item-action align-items-center" data-toggle="collapse" data-target="#<%= dom_id(check_in) %>_<%= dom_id(check_in) %>">
      <div class="row text-center">

        <div class="col-1 ">
          <% if check_in.approved %>
          <i class="fas fa-check text-success"></i>
          <% else %>
          <i class="fas fa-times text-danger"></i>
          <% end %>
        </div>
        <div class="col-4">
          <%= "#{check_in.user.first_name} #{check_in.user.last_name} " %>
        </div>
        <div class="col-4">
          <%= check_in.created_at.strftime("%l:%M%P") %>
        </div>
        <div class="col-3">
          <% if check_in.approved? %>
            <%= form_for check_in, method: :patch do |f| %>
              <%= f.hidden_field :approved, value: false %>
              <%= f.submit 'Disapprove', class: "btn btn-block btn-outline-danger" %>
            <% end %>
          <% else %>
            <%= form_for check_in, method: :patch do |f| %>
              <%= f.hidden_field :approved, value: true %>
              <%= f.submit 'Approve', class: "btn btn-block btn-outline-success" %>
            <% end %>
          <% end %>
        </div>
      </div>
  </div>
  <div id="<%= dom_id(check_in) %>_<%= dom_id(check_in) %>" class="panel-collapse collapse ">
    <div class="list-group-item bg-light rounded-0">
      <div class="row ">
        <div class="col-6">
          <ul class="list-unstyled">
            <li>
              <strong>Checkin ID: </strong><%= check_in.id %>
            </li>
            <li>
              <strong>Enrollment ID: </strong><%= check_in.enrollment_id %>
            </li>
            <li>
              <strong>User ID: </strong><%= check_in.user.id %>
            </li>
          </ul>
        </div>
        <div class="col-6">
          <ul class="list-unstyled">
            <li>
              <strong>Checkin time: </strong><%= check_in.created_at.strftime("%l:%M %p, %a, %b %e %Y") %>
            </li>
            <li>
              <strong>Meeting ID: </strong><%= check_in.id %>
            </li>
            <li>
              <strong>Resource ID: </strong><%= params[:id] %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
