<div class="card mb-3">
  <h2 class="card-header h4">
    Context #<%= context.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Title</dt>
      <dd><%= context.title %></dd>

      <dt>Credential</dt>
      <dd><%= context.credential_id %></dd>

      <dt>Allowed absences</dt>
      <dd><%= context.allowed_absences %></dd>

    </dl>

    <div class="btn-group btn-group-justified mt-auto">
      <%= link_to_show_or_back context, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-outline-secondary" %>

      <%= link_to edit_context_url(context), class: "btn btn-outline-secondary" do %>
        <i class="fas fa-edit"></i>
      <% end %>

      <%= link_to context, method: :delete, data: { confirm: "Do you really want to delete this context?" }, class: "btn btn-outline-secondary" do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(context.updated_at) %> ago
  </div>
</div>
