<% was_validated = context.errors.any? %>

<% form_html_options = { novalidate: true, class: "mb-3" } %>

<%= form_for(context, html: form_html_options) do |f| %>
  <div class="form-group">
    <% title_class = "form-control" %>
    <% title_was_invalid = context.errors.include?(:title) %>

    <% if was_validated %>
      <% unless title_was_invalid %>
        <% title_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :title %>

    <%= f.text_field :title, class: title_class, placeholder: "Enter title" %>

    <% if title_was_invalid %>
      <% context.errors.full_messages_for(:title).each do |message| %>
        <div class="invalid-feedback">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% allowed_absences_class = "form-control" %>
    <% allowed_absences_was_invalid = context.errors.include?(:allowed_absences) %>

    <% if was_validated %>
      <% unless allowed_absences_was_invalid %>
        <% allowed_absences_class << " is-valid" %>
      <% end %>
    <% end %>
    <%= f.label :allowed_absences %>
    <%= f.number_field :allowed_absences, class: allowed_absences_class  %>
    <%# binding.pry %>
    <% if allowed_absences_was_invalid %>
      <% context.errors.full_messages_for(:allowed_absences).each do |message| %>
        <div class="invalid-feedback">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= f.button class: "btn btn-outline-primary btn-block" %>
<% end %>
