<p id="notice"><%= notice %></p>

<h1>Launches</h1>

<table>
  <thead>
    <tr>
      <th>Payload</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @launches.each do |launch| %>
      <tr>
        <td><%= launch.payload %></td>
        <td><%= link_to 'Show', launch %></td>
        <td><%= link_to 'Edit', edit_launch_path(launch) %></td>
        <td><%= link_to 'Destroy', launch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Launch', new_launch_path %>
