<!-- Validation failure messages -->
<% if @resource.errors.any? %>
  <% @resource.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit resource #<%= @resource.id %>
</h1>

<hr>

<form action="/update_resource/<%= @resource.id %>" method="post">
  <!-- Label and input for meeting_schedule_hash -->
  <div class="form-group">
    <label for="meeting_schedule_hash">
      Meeting schedule hash
    </label>

    <input type="text" id="meeting_schedule_hash" name="meeting_schedule_hash" class="form-control" value="<%= @resource.meeting_schedule_hash %>">
  </div>

  <!-- Label and input for lis_outcome_service_url -->
  <div class="form-group">
    <label for="lis_outcome_service_url">
      Lis outcome service url
    </label>

    <input type="text" id="lis_outcome_service_url" name="lis_outcome_service_url" class="form-control" value="<%= @resource.lis_outcome_service_url %>">
  </div>

  <!-- Label and input for lti_resource_link_id -->
  <div class="form-group">
    <label for="lti_resource_link_id">
      Lti resource link
    </label>

    <input type="text" id="lti_resource_link_id" name="lti_resource_link_id" class="form-control" value="<%= @resource.lti_resource_link_id %>">
  </div>

  <!-- Label and input for context_id -->
  <div class="form-group">
    <label for="context_id">
      Context
    </label>

    <input type="text" id="context_id" name="context_id" class="form-control" value="<%= @resource.context_id %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update resource
  </button>
</form>

<hr>

<a href="/resources">
  Go back
</a>
