<% was_validated = resource.errors.any? %>

<% form_html_options = { novalidate: true, class: "mb-3" } %>

<%= form_for(resource, html: form_html_options) do |f| %>

  <div class="form-group">
    <% meeting_schedule_hash_class = "form-control" %>
    <% meeting_schedule_hash_was_invalid = resource.errors.include?(:meeting_schedule_hash) %>

    <% if was_validated %>
      <% if meeting_schedule_hash_was_invalid %>
        <% meeting_schedule_hash_class << " is-invalid" %>
      <% else %>
        <% meeting_schedule_hash_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :meeting_schedule_hash %>

    <%= f.text_field :meeting_schedule_hash, class: meeting_schedule_hash_class, placeholder: "Enter meeting schedule hash" %>
    <% if meeting_schedule_hash_was_invalid %>
      <% resource.errors.full_messages_for(:meeting_schedule_hash).each do |message| %>
        <div class="invalid-feedback">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>

  <!-- <div class="form-group">
    <%#= f.label :monday %>
    <%#= f.check_box :monday %>
  </div> -->

  Sunday<input class="form-control" type="checkbox" name="days_of_week[sunday]" >
  Monday<input class="form-control" type="checkbox" name="days_of_week[monday]" value="true">
  Tuesday<input class="form-control" type="checkbox" name="days_of_week[tuesday]" value="true">
  Wednesday<input class="form-control" type="checkbox" name="days_of_week[wednesday]" value="true">
  Thursday<input class="form-control" type="checkbox" name="days_of_week[thursday]" value="true">
  Friday<input class="form-control" type="checkbox" name="days_of_week[friday]" value="true">
  Saturday<input class="form-control" type="checkbox" name="days_of_week[saturday]" value="true">
  datetime-local <input class="form-control" type="datetime-local" name="start_datetime">
  date <input class="form-control" type="date" name="start_date">
  time <input class="form-control" type="time" name="start_time">


  <%= f.button class: "btn btn-outline-primary btn-block" %>
<% end %>
