<% was_validated = resource.errors.any? %>

<% form_html_options = { novalidate: true, class: "mb-3" } %>

<%= form_for(resource, html: form_html_options) do |f| %>

  <div class="form-group">
    <% meeting_schedule_hash_class = "form-control" %>
    <% meeting_schedule_hash_was_invalid = resource.errors.include?(:meeting_schedule_hash) %>

    <% if was_validated %>
      <% if meeting_schedule_hash_was_invalid %>
        <% meeting_schedule_hash_class << " is-invalid" %>
      <% else %>
        <% meeting_schedule_hash_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :meeting_schedule_hash %>

    <%= f.text_field :meeting_schedule_hash, class: meeting_schedule_hash_class, placeholder: "Enter meeting schedule hash" %>
    <% if meeting_schedule_hash_was_invalid %>
      <% resource.errors.full_messages_for(:meeting_schedule_hash).each do |message| %>
        <div class="invalid-feedback">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>


  <!-- <div class="form-group">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-primary <%#= "active" if resource.sunday %>">
        <input name="resource[sunday]" type="checkbox" checked="<%#= resource.sunday %>" autocomplete="off"> Sunday
      </label>
    </div>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-primary <%#= "active" if resource.monday %>">
        <input type="checkbox" checked="<%#= resource.monday %>" autocomplete="off"> Monday
      </label>
    </div>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-primary <%#= "active" if resource.tuesday %>">
        <input type="checkbox" checked="<%#= resource.tuesday %>" autocomplete="off"> Tuesday
      </label>
    </div>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-primary <%#= "active" if resource.wednesday %>">
        <input type="checkbox" checked="<%#= resource.wednesday %>" autocomplete="off"> Wednesday
      </label>
    </div>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-primary <%#= "active" if resource.thursday %>">
        <input type="checkbox" checked="<%#= resource.thursday %>" autocomplete="off"> Thursday
      </label>
    </div>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-primary <%#= "active" if resource.friday %>">
        <input type="checkbox" checked="<%#= resource.friday %>" autocomplete="off"> Friday
      </label>
    </div>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-primary <%#= "active" if resource.saturday %>">
        <input type="checkbox" checked="<%#= resource.saturday %>" autocomplete="off"> Saturday
      </label>
    </div>

  </div> -->


  <div class="form-group">

    <!-- <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <%#= f.label :sunday, class:"btn btn-outline-primary active"  do %>
        <%#= f.check_box :sunday, {class: "form-control", checked: resource.sunday} %>Sunday
      <%# end %>

    </div> -->

    <%= f.label :sunday %>
    <%= f.check_box :sunday, {class: "form-control", checked: resource.sunday} %>

    <%= f.label :monday %>
    <%= f.check_box :monday, {class: "form-control", checked: resource.monday} %>

    <%= f.label :tuesday %>
    <%= f.check_box :tuesday, {class: "form-control", checked: resource.tuesday} %>

    <%= f.label :wednesday %>
    <%= f.check_box :wednesday, {class: "form-control", checked: resource.wednesday} %>

    <%= f.label :thursday %>
    <%= f.check_box :thursday, {class: "form-control", checked: resource.thursday} %>

    <%= f.label :friday %>
    <%= f.check_box :friday, {class: "form-control", checked: resource.friday} %>

    <%= f.label :saturday %>
    <%= f.check_box :saturday, {class: "form-control", checked: resource.saturday} %>
  </div>
  <!-- Sunday<input class="form-control" type="checkbox" name="days_of_week[0]" >
  Monday<input class="form-control" type="checkbox" name="days_of_week[1]" >
  Tuesday<input class="form-control" type="checkbox" name="days_of_week[2]" >
  Wednesday<input class="form-control" type="checkbox" name="days_of_week[3]" >
  Thursday<input class="form-control" type="checkbox" name="days_of_week[4]" >
  Friday<input class="form-control" type="checkbox" name="days_of_week[5]" >
  Saturday<input class="form-control" type="checkbox" name="days_of_week[6]" > -->
  datetime-local <input class="form-control" type="datetime-local" name="start_datetime">
  date <input class="form-control" type="date" name="start_date">
  time <input class="form-control" type="time" name="start_time">


  <%= f.button class: "btn btn-outline-primary btn-block" %>
<% end %>
