<h1>
  All resources
</h1>

<a href="/resources/new">
  Add a new resource
</a>

<hr>

<table class="table">
  <tr>
    <th>
      ID
    </th>

    <th>
      Meeting schedule hash
    </th>

    <th>
      Lis outcome service url
    </th>

    <th>
      Lti resource link
    </th>

    <th>
      Context
    </th>

    <th>
      Created at
    </th>

    <th>
      Updated at
    </th>

    <th>
    </th>
  </tr>

  <% @resources.each do |resource| %>
  <tr>
    <td>
      <%= resource.id %>
    </td>

    <td>
      <%= resource.meeting_schedule_hash %>
    </td>

    <td>
      <%= resource.lis_outcome_service_url %>
    </td>

    <td>
      <%= resource.lti_resource_link_id %>
    </td>

    <td>
      <%= resource.context_id %>
    </td>

    <td>
      <%= time_ago_in_words(resource.created_at) %> ago
    </td>

    <td>
      <%= time_ago_in_words(resource.updated_at) %> ago
    </td>

    <td>
      <a href="/resources/<%= resource.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
