<% meeting_list_classes = "list-group-item
  d-flex
  justify-content-between
  align-items-center
  list-group-item-action" %>
<div class="row justify-content-center mb-3">
  <div class="col-lg-3">
    <div class="row mb-3">
      <div class="col-12">
        <div class="list-group" id="list-tab" role="tablist">
          <% @meetings.each do |meeting| %>
            <%= link_to "#list-#{ meeting.id }",
                        class: meeting == @most_recent_meeting ?
                        meeting_list_classes + " active show" :
                        meeting_list_classes,
                        id: "list-#{ meeting.id }-list",
                        data: { toggle: "list" },
                        aria: { controls: meeting.id } do %>
              <%= meeting %>
              <div class="badge badge-warning">
                <%= meeting.attendances.in_appeal.count %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="tab-content" id="nav-tabContent">
      <% @meetings.each do |m| %>
        <div class="tab-pane fade <%= "active show" if m == @most_recent_meeting %>" id="list-<%= m.id %>" role="tabpanel" aria-labelledby="list-<%= m.id %>-list">
          <div class="card">
            <div class="card-header">
              <strong><%= m.start_time.strftime("%a %-m/%-d/%y - %l:%M%P") %></strong>
            </div>
            <div class="card-body">
              <div class="panel-group">
                <%= render collection:
                        m.attendances.includes(:user, :enrollment).joins(:user).
                        merge(User.order(:last_name, :first_name)),
                        partial: "/attendances/attendance_teacher",
                        as: :attendance,
                        cached: true
                %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
