<div class="row justify-content-center mb-3">
  <div class="col-md-3">
    <div class="list-group" id="list-tab" role="tablist">
      <% @meetings.each do |m| %>
        <a class="list-group-item d-flex justify-content-between align-items-center list-group-item-action <%= "active show" if m == @most_recent_meeting %>" id="list-<%= m.id %>-list" data-toggle="list" href="#list-<%= m.id %>" role="tab" aria-controls="<%= m.id %>"><%= m.start_time.to_date.strftime("%a %-m/%-d/%y") %> <span class="badge badge-success badge-pill"><%= m.check_ins.count %></span></a>
      <% end %>
    </div>
  </div>
  <div class="col-md-8">
    <div class="tab-content" id="nav-tabContent">
      <% @meetings.each do |m| %>
        <div class="tab-pane fade <%= "active show" if m == @most_recent_meeting %>" id="list-<%= m.id %>" role="tabpanel" aria-labelledby="list-<%= m.id %>-list">
          <div class="card">
            <div class="card-header">
              <strong><%= m.start_time.strftime("%a %-m/%-d/%y - %l:%M%P") %></strong>
            </div>
            <div class="card-body">
              <ul class="list-group">
                <% m.check_ins.includes(:user).each do |c| %>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <span>CheckIn ID: <%= c.id %></span>
                  <span>User ID: <%= c.user.id %></span>
                  <span><%= c.user.first_name %></span>
                  <span><%= c.updated_at.strftime("%l:%M%P") %></span>
                  <% if c.approved %>
                    <i class="fas fa-check text-success"></i>
                  <% else %>
                    <i class="fas fa-times text-danger"></i>
                  <% end %>
                  <button class="btn btn-success" type="button" name="button">Approve</button>
                </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
