<h1>
  Credential #<%= @credential.id %> details
</h1>

<a href="/credentials/<%= @credential.id %>/edit">
  Edit credential
</a>

<hr>

<dl>
  <dt>
    Consumer key
  </dt>
  <dd>
    <%= @credential.consumer_key %>
  </dd>

  <dt>
    Consumer secret
  </dt>
  <dd>
    <%= @credential.consumer_secret %>
  </dd>

  <dt>
    Administrator
  </dt>
  <dd>
    <%= @credential.administrator_id %>
  </dd>

  <dt>
    Enabled
  </dt>
  <dd>
    <%= @credential.enabled %>
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= time_ago_in_words(@credential.created_at) %> ago
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= time_ago_in_words(@credential.updated_at) %> ago
  </dd>
</dl>

<a href="/delete_credential/<%= @credential.id %>">
  Delete credential
</a>

<hr>

<a href="/credentials">
  Go back
</a>
