<h1>
  All check ins
</h1>

<a href="/check_ins/new">
  Add a new check in
</a>

<hr>

<table class="table">
  <tr>
    <th>
      ID
    </th>

    <th>
      Enrollment
    </th>

    <th>
      Resource
    </th>

    <th>
      Present
    </th>

    <th>
      Late
    </th>

    <th>
      Created at
    </th>

    <th>
      Updated at
    </th>

    <th>
    </th>
  </tr>

  <% @check_ins.each do |check_in| %>
  <tr>
    <td>
      <%= check_in.id %>
    </td>

    <td>
      <%= check_in.enrollment_id %>
    </td>

    <td>
      <%= check_in.resource_id %>
    </td>

    <td>
      <%= check_in.present %>
    </td>

    <td>
      <%= check_in.late %>
    </td>

    <td>
      <%= time_ago_in_words(check_in.created_at) %> ago
    </td>

    <td>
      <%= time_ago_in_words(check_in.updated_at) %> ago
    </td>

    <td>
      <a href="/check_ins/<%= check_in.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
